<!DOCTYPE html>
<html>
  <head>
    <title>Test page for Instacomment</title>

    <script type="text/javascript">
    
    </script>

    <!-- Include Twitter Bootstrap CSS just to look nice -->
    <link rel="stylesheet" href="/styles/bootstrap.css" type="text/css" media="screen" charset="utf-8" />

  </head>
  <body>

    <div class="container">
      <h1>Instacomment test page</h1>

      <h2>Example 1 - Page comment counts</h2>

      <p>Use a class of the form <code>class=&quot;instacomment-count-&lt;pageId&gt;&quot;</code> to have the contents of that element replaced with the number of comments for that <code>&lt;pageId&gt;</code>. e.g.</p>

      <blockquote>For pageId 'foo' there are <span class="instacomment-count-bar">no</span> comments.</blockquote>

      <p>The pageId can only be made up of letter and hyphens.</p>

      <h2>Example 2 - Page comments</h2>

      <p>Include a div of the form <code>&lt;div class=&quot;instacomment-count-&lt;pageId&gt;&quot;&gt;&lt;/div&gt;</code> to have the contents of that element replaced with the comments for that <code>pageId</code>. e.g.</p>

      <div class="instacomment-comments-bar"></div>

      <h2>Example 3 - Override templates</h2>

      <p>There are a default set of templates which are included in the JavaScript which use Underscore templating. If you would like to override these then include in the HTML the following two templates,</p>

    <h3>Comments template</h3>

      <pre><code>&lt;script type="text/template" id="instacomment-comment-list-template"&gt;
  &lt;dl&gt;
    &lt;% _.each(data.get('comments'), function(comment) { %&gt;
    &lt;dt&gt;
      &lt;%= comment['owner'] %&gt;
    &lt;/dt&gt;
    &lt;dd&gt;
      &lt;%= comment['content'] %&gt;
    &lt;/dd&gt;
    &lt;% }); %&gt;
  &lt;/dl&gt;
  &lt;div class="&lt;%= cfg.CLASS_LOGIN_OPTIONS_AND_EDIT_FORM_CONTAINER %&gt;"&gt;
    &lt;% if (data.get('current-user')['is_authenticated']) { %&gt;
    &lt;div class="&lt;%= cfg.CLASS_EDIT_FORM_CONTAINER %&gt;"&gt;
    &lt;/div&gt;
    &lt;% } else { %&gt;
    &lt;div class="&lt;%= cfg.CLASS_LOGIN_OPTIONS_CONTAINER %&gt;"&gt;
      &lt;ul&gt;
        &lt;% _.each(data.get('oauth-providers'), function(provider) { %&gt;
        &lt;li&gt;&lt;a href="&lt;%= provider['login_url'] %&gt;"&gt;&lt;%= provider['real_name'] %&gt;&lt;/a&gt;&lt;/li&gt;
        &lt;% }); %&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
    &lt;% } %&gt;
  &lt;/div&gt;
&lt;/script&gt;</code></pre>

      <h3>Form template</h3>

      <p>This template is inserted into the comments template inside the div of class <code>cfg.CLASS_EDIT_FORM_CONTAINER</code></p>

      <pre><code>&lt;script type="text/template" id="instacomment-comment-form-template"&gt;
  &lt;form class="&lt;%= cfg.CLASS_EDIT_FORM %&gt;"&gt;
    &lt;textarea name="content"&gt;&lt;/textarea&gt;
    &lt;input type="hidden" name="pageid" value="&lt;%= pageid %&gt;" /&gt;
    &lt;button type="submit"&gt;Submit&lt;/button&gt;
  &lt;/form&gt;
&lt;/script&gt;</code></pre>

    </div>

    <!-- this is the only necessary include -->
    <script src="//localhost:8181/static/instacomment.js"></script>

    <!-- These are the actual default templates -->
    <script type="text/template" id="instacomment-comment-form-template">
      <form class="<%= cfg.CLASS_EDIT_FORM %>">
        <textarea name="content"></textarea>
        <input type="hidden" name="pageid" value="<%= pageid %>" />
        <button type="submit">Submit</button>
      </form>
    </script>

    <!-- These are the actual default templates -->
    <script type="text/template" id="instacomment-comment-list-template">
      <dl>
        <% _.each(data.get('comments'), function(comment) { %>
        <dt>
          <%= comment['owner'] %>
        </dt>
        <dd>
          <%= comment['content'] %>
        </dd>
        <% }); %>
      </dl>
      <div class="<%= cfg.CLASS_LOGIN_OPTIONS_AND_EDIT_FORM_CONTAINER %>">
        <% if (data.get('current-user')['is_authenticated']) { %>
        <div class="<%= cfg.CLASS_EDIT_FORM_CONTAINER %>">
        </div>
        <% } else { %>
        <div class="<%= cfg.CLASS_LOGIN_OPTIONS_CONTAINER %>">
          <ul>
            <% _.each(data.get('oauth-providers'), function(provider) { %>
            <li><a href="<%= provider['login_url'] %>"><%= provider['real_name'] %></a></li>
            <% }); %>
          </ul>
        </div>
        <% } %>
      </div>
    </script>
  
  </body>
</html>


