<dl>
  <% _.each(data.get('comments'), function(comment) { %>
  <dt>
    <%= comment['owner'] %>
  </dt>
  <dd>
    <%= comment['content'] %>
  </dd>
  <% }); %>
</dl>

<div class="<%= cfg.CLASS_LOGIN_OPTIONS_AND_EDIT_FORM_CONTAINER %>">
  <% if (data.get('current-user')['is_authenticated']) { %>
  <div class="<%= cfg.CLASS_EDIT_FORM_CONTAINER %>">
  </div>
  <% } else { %>
  <div class="<%= cfg.CLASS_LOGIN_OPTIONS_CONTAINER %>">
    <ul>
      <% _.each(data.get('oauth-providers'), function(provider) { %>
      <li><a href="<%= provider['login_url'] %>"><%= provider['real_name'] %></a></li>
      <% }); %>
    </ul>
  </div>
  <% } %>
</div>

